html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-padding-top: 9em;
  background-color: lavender;
  font-family: Catamaran;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lavender;
}
 
::-webkit-scrollbar-thumb {
  background: midnightblue;
}

h1 {
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  font-size: 30px;
  margin-top: 1em;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 20px;
  margin-bottom: 1em;
}

ul {
  margin-top: 0;
}

li {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* cursor: none; */
}

@media (max-width: 900px) {
  html, body {
    scroll-padding-top: 3em;
  }
}