.container {
    width: 100%;
    padding: 8em 2em 2em 2em;
}

.container:after {
    content: "";
    background: midnightblue;
    position: absolute;
    height: 5px;
    width: 90%;
}

.description {
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .container {
        padding: 2em;
    }
}